@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");

body {
  background-color: black;
}

p {
  color: ghostwhite;
  font-family: "Cairo", sans-serif;
  font-size: 18px;
  letter-spacing: 4px;
  padding-left: 6px;
  font-weight: 200;
  line-height: 1000px;
}

a {
  color: lightskyblue;
}

a:hover {
  color: lightcyan;
}

h1 {
  margin-top: 15vh;
  margin-bottom: 5vh;
  font-size: 60px;
  font-family: "Cairo", sans-serif;
  letter-spacing: 8px;
  font-weight: 200;
}

.content,
.long-content {
  margin-bottom: 10vh;
  padding-right: 6vw;
}

.btn {
  margin-left: 120px;
  font-family: "Cairo", sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
}

.btn-primary {
  color: lightskyblue;
  background-color: #000;
  border-color: lightskyblue;
}

.btn-primary:hover {
  color: #000;
  background-color: lightskyblue;
}

.code-section {
  padding-right: 6vw;
  margin-bottom: 20vh;
}

code {
  font-family: "Inconsolata", monospace;
}

.long-content p {
  font-size: 16px;
  letter-spacing: 2px;
}

#overlay {
  position: fixed;
  left: 1100px;
  top: 10px;
}
